{% extends'template.html' %}

{% block head %}<title>Login Page</title>{% endblock %}


{% block body %}

<h1> Login here</h1>

<div class="content">
    <form action="/" method="POST">
    
    
        username: <br>
        <input type="email"name="email"id="email" placeholder="email" required><br>

        password <br>
        <input type="password"name="password"id="password" required><br>

        <center>
        <input type="submit"name="submit" id="submit"value="login"><br>
        </center>

    </form>
</div>


{% endblock %}